/*
* modern-css-reset 
* @see https://hankchizljaw.com/wrote/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*
* root setting
* 
*/
:root {
  --background-color: #fefefe;
  --font-color: #222;
  --dark-color: #222;

  --anchor-color: RoyalBlue;
  --anchor-visited-color: Brown;

  --code-block: #efefef;
  --code-block-font: #222;

  --block-quote: #ddd;
  --table-border: #222;

  --regular-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  --code-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

  --icon-size: 30px;

  --width: 80vw;
  --grid: 1rem;

  --radius: 3px;
}

/* Set core body defaults */
body {
  --background-color: #fefefe;
  --font-color: #222;
  min-height: 100vh;
  scroll-behavior: auto;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--regular-font);
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

body.dark {
  --background-color: #010101;
  --font-color: #fff;
  background-color: var(--background-color);
  color: var(--font-color);
}

// TODO：グローバル過ぎるので修正する

body h3 > a {
  --font-color: #222;
  color: var(--font-color);
}
body.dark h3 > a {
  --font-color: #fff;
  color: var(--font-color);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Mobile Theme */
@media screen and (max-device-width: 800px) {
  :root {
    --width: 94vw;
  }
}

/*
* global
* 
*/

html {
  scroll-behavior: auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--regular-font);
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin: 0 0 1rem 0;
  padding: 0;
}


p {
  word-break: break-all;
}

a {
  text-decoration: none;
  box-shadow: none;
  color: #007acc;
  word-break: break-all;

  &:hover {
    text-decoration: underline;
  }
}
.toggle {
  display: none;

  &__fa {
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    top: -1px;
  }
}
.toggle + .toggle__fa:before {
  content: '🌞';
}
.toggle:checked + .toggle__fa:before {
  content: '🌛';
}

.tag__heading {
  margin-bottom: 2rem;
}
