---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import dayjs from "../lib/dayjs";
import Lists from "../components/Lists.astro";

const allBlogEntries = (await getCollection("blog")).sort(
  (a, b) => dayjs(b.data.publishDate).tz().valueOf() - dayjs(a.data.publishDate).tz().valueOf());
---

<Layout
  title={'記事一覧'}
  ogType="article"
>
  <h1 class="text-l font-bold mb-8">##記事一覧</h1>
  <Lists
    items={allBlogEntries
    .map((post) => ({
      title: post.data.title,
      slug: post.slug!,
      meta: `<time datetime="${dayjs(post.data.publishDate).tz().toISOString()}">
        ${dayjs(post.data.publishDate).tz().format("LL")}
      </time>`,
      }))}
  />
</Layout>
