---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import dayjs from "../lib/dayjs";
import Lists from "../components/Lists.astro";

const allBlogEntries = (await getCollection("blog")).sort(
  (a, b) => dayjs(b.data.publishDate).tz().valueOf() - dayjs(a.data.publishDate).tz().valueOf());

const description = 'JavaScriptエンジニア。インターフェースデザインが好き。'

---

<Layout description={description}>
  <section class="mb-12">
    <p><budoux-ja>都内でフロントエンドエンジニアをしています。インターフェースデザインなどが好き。日々のプログラミングについてだったり読んだ本の感想、日記などを発信しています。</budoux-ja></p>
    <p>最近は<a href="https://scrapbox.io/ryokatsu/">cosense(旧scrapbox)</a>で日記を書いたりしています。</p>
  </section>
  <h1 class="text-l font-bold mb-8">## 最近の記事</h1>
  <section class="mb-12">
    <Lists
    items={allBlogEntries
    .map((post) => ({
      title: post.data.title,
      slug: post.slug!,
      meta: `<time datetime="${dayjs(post.data.publishDate).tz().toISOString()}">
        ${dayjs(post.data.publishDate).tz().format("LL")}
      </time>`,
      })).slice(0, 10)}
  />
  </section>
  <div><a class="text-black dark:text-white underline hover:hover:no-underline" href="/blog">すべての記事一覧</a></div>
</Layout>
