---
const today = new Date();
---

<footer class="p-4 text-center">
  &copy; {today.getFullYear()} このサイトは<a class="text-black dark:text-white underline hover:hover:no-underline" href="https://astro.build/">Astro</a>で作成しています。
</footer>
