---
import { SITE_TITLE } from '../config';
---

<header class="mb-8">
  <a
    class="flex items-center gap-x-2 w-fit text-slate-400"
    href={Astro.url.pathname !== "/" ? "/" : null}
    rel="prefetch"
    >
    <img
      class="w-7 rounded-full dark:bg-white"
      src="/favicon.svg"
      width="48"
      height="48"
      alt=""
      decoding="async"
    />
    {SITE_TITLE}
  </a>
</header>
