---
export interface Props {
  items: {
    title: string;
    slug: string;
    meta?: string;
    description?: string;
  }[];
}

const { items } = Astro.props;

---

<ul class="space-y-12">
  {
    items.map(item => (
      <li class="space-y-[0.125rem]">
        {item.meta && <p class="text-dynamic-muted text-sm" set:html={item.meta} />}
        <p>
          <a class="text-black dark:text-white underline hover:hover:no-underline" href={`/blog/${item.slug}`} rel="prefetch">{item.title}</a>
        </p>
        {item.description && <p class="text-dynamic-muted text-sm">{item.description}</p>}
      </li>
    ))
  }
</ul>
